{% extends 'Online_15/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
<section id="login">
    <div class="card custom-card">
        <h1>ログイン</h1>

        <form method="post">
            {% csrf_token %}
            <div class="field name-box">
                <input type="text" id="username" name="username" placeholder="ユーザー名を入力してください"/>
                <label for="username">ユーザー名</label>
                <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"></path>
                </svg>
                <svg class="invalid-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                </svg>
            </div>

            <div class="field password-box">
                <input type="password" id="password" name="password" placeholder="パスワードを入力してください"/>
                <label for="password">パスワード</label>
                <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"></path>
                </svg>
                <svg class="invalid-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                </svg>
            </div>

            <input class="button" type="submit" value="ログイン" />
        </form>
    </div>
</section>
<style>
    @font-face {
        font-family: 'KanjukuGothic';
        src: url('{% static "fonts/かんじゅくゴシック.otf" %}') format('opentype');
    }

    section#login {
        background: #efefef;
        font-size: 62.5%;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #B6B6B6;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .custom-card {
        background: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 600px;
        text-align: center;
    }

    .custom-card h1 {
        margin-bottom: 1.5rem;
        font-size: 2.5em;
        font-family: 'KanjukuGothic', 'Lato', sans-serif;
        font-weight: 100;
    }

    .custom-card form {
        width: 100%;
    }

    .custom-card .field {
        width: 100%;
        position: relative;
        margin-bottom: 15px;
    }

    .custom-card .field label {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e0e0e0;
        width: 100%;
        font-size: 1.8em;
        letter-spacing: 0.075em;
        transition: all 333ms ease-in-out;
        font-family: 'KanjukuGothic', 'Lato', sans-serif;
        border-radius: 5px;
        user-select: none;
    }

    .custom-card .field .check-icon,
    .custom-card .field .invalid-icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 7%;
        width: 2.5em;
        height: 2.5em;
        opacity: 0;
        transform: translateY(-50%) scale(.6);
        transition: all 333ms ease-in-out;
    }

    .custom-card .field .focused:valid ~ .check-icon {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    .custom-card .field .focused:invalid ~ .invalid-icon {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    .custom-card .field input,
    .custom-card .field textarea {
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 18px 0;
        padding-left: 25%;
        background: #E8E9EA;
        color: #313A3D;
        font-size: 1.4em;
        letter-spacing: 0.05em;
        border: none;
        transition: all 333ms ease-in-out;
    }

    .custom-card .field :invalid ~ label {
        background-color: #ef5c5c !important;
    }

    .custom-card .field textarea {
        resize: none;
        vertical-align: bottom;
    }

    .custom-card .field input:focus,
    .custom-card .field textarea:focus,
    .custom-card .field input.focused,
    .custom-card .field textarea.focused {
        outline: none;
    }

    .custom-card .field input:focus#msg,
    .custom-card .field textarea:focus#msg,
    .custom-card .field input.focused#msg,
    .custom-card .field textarea.focused#msg {
        padding-bottom: 150px;
    }

    .custom-card .field input:focus + label,
    .custom-card .field textarea:focus + label,
    .custom-card .field input.focused + label,
    .custom-card .field textarea.focused + label {
        width: 18%;
        background: #1d4ed8;
        color: #ffffff;
    }

    .custom-card .field input.focused + label,
    .custom-card .field textarea.focused + label {
        color: transparent;
    }

    .custom-card .field:hover label {
        width: 18%;
        background: #313A3D;
        color: white;
    }

    .custom-card input[type="submit"] {
        margin-top: 20px;
        background: #1d4ed8;
        color: #c9f0ff;
        -webkit-appearance: none;
        border: none;
        position: relative;
        padding: 13px 50px;
        font-size: 1.4em;
        letter-spacing: 0.1em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        transition: all 333ms ease-in-out;
        border-radius: 5px;
    }

    .custom-card input[type="submit"]:hover {
        background: #718cd5;
        color: #ffffff;
    }

    .custom-card input[type="submit"]:focus {
        outline: none;
        background: rgba(29, 78, 216, 0.8);
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('section#login textarea, section#login input');

        inputs.forEach(input => {
            input.addEventListener('blur', function() {
                if (this.value !== '') {
                    this.classList.add('focused');
                    this.nextElementSibling.style.opacity = 1;
                }
            });
        });

        const firstInput = document.querySelector('section#login .field:first-child input');
        firstInput.addEventListener('blur', function() {
            if (this.value !== '') {
                this.classList.add('focused');
                this.nextElementSibling.nextElementSibling.style.opacity = 1;
            } else {
                this.classList.remove('focused');
                this.nextElementSibling.nextElementSibling.style.opacity = 0;
            }
        });

        const secondInput = document.querySelector('section#login .field:nth-child(2) input');
        secondInput.addEventListener('blur', function() {
            if (this.value !== '') {
                this.classList.add('focused');
                this.nextElementSibling.nextElementSibling.style.opacity = 1;
            } else {
                this.classList.remove('focused');
                this.nextElementSibling.nextElementSibling.style.opacity = 0;
            }
        });
    });
</script>
{% endblock content %}