{% extends 'Online_15/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
<section id="login">
    <div class="card custom-card">
        <h1>ログイン</h1>

        <form method="post">
            {% csrf_token %}
            <label class="kamofield mb-2" data-rule="required">
                <span class="label"><span>ユーザー名</span></span>
                <input type="text" id="username" name="username" placeholder="ユーザー名を入力してください"/>
            </label>

            <label class="kamofield">
                <span class="label"><span>パスワード</span></span>
                <input type="password" name="password" placeholder="パスワードを入力してください"/>
            </label>



            <input class="button" type="submit" value="ログイン" />
        </form>
    </div>
</section>
<style>
    @font-face {
        font-family: 'KanjukuGothic';
        src: url('{% static "fonts/かんじゅくゴシック.otf" %}') format('opentype');
    }

    section#login {
        background: #efefef;
        font-size: 62.5%;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #B6B6B6;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .custom-card {
        background: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 600px;
        text-align: center;
        font-family: 'KanjukuGothic', 'Lato', sans-serif;
    }

    .custom-card h1 {
        margin-bottom: 1.5rem;
        font-size: 2.5em;
        font-family: 'KanjukuGothic', 'Lato', sans-serif;
        font-weight: 100;
    }

    .custom-card form {
        width: 100%;
    }

    .custom-card input[type="submit"] {
        margin-top: 20px;
        background: #1d4ed8;
        color: #c9f0ff;
        -webkit-appearance: none;
        border: none;
        position: relative;
        padding: 13px 50px;
        font-size: 1.4em;
        letter-spacing: 0.1em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        transition: all 333ms ease-in-out;
        border-radius: 5px;
    }

    .custom-card input[type="submit"]:hover {
        background: #718cd5;
        color: #ffffff;
    }

    .custom-card input[type="submit"]:focus {
        outline: none;
        background: rgba(29, 78, 216, 0.8);
    }
</style>

{% endblock content %}