# Django
*.pyc
__pycache__/
local_settings.py
.venv/

# Environment variables
.env

# Database
db.sqlite3

# Static and Media files
/static/
staticfiles/
media/

# Migrations
*/migrations/*
!*/migrations/__init__.py

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db